<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs', {title: 'User'}) %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <h1 class="mt-5">Posts by User #<%= id %></h1>
      <%- include('partials/posts-container.ejs', {posts}) %>
      <a href="/users" class="btn btn-primary mb-5">Back To Users</a>
    </div>
  </body>
</html>
